@import 'imports';

.homeContainer {
    height: 100vh;
    background-color: $primaryColor;
    color: $secondaryColor;
    
    .homeSelfImageContainer{
        min-width: clamp(100px, 5vw, 243px);
        height: fit-content;
        background-color: tan;
    }

    .homeInnerContainer {
        justify-content: center;
        display: flex;
        flex-wrap: wrap-reverse;
        height: 100%;
        padding: 1em;
        
        .homeInnerProfileContainer{
            display: flex;
            flex-direction: column;
            gap: 2.5em;
            
            .homeProfileDescription{
                word-wrap: break-word;
                font-size: clamp(.7em, 5vw, 1em);
                max-width: 20em;
            }
            .homeProfileBoldText{
                font-weight: bold;
            }
        }
        img {
            border-radius: 50%;

        }
    }

    @media only screen and (min-width: 890px){
        .homeInnerContainer {
            gap: 10em;
        }
    }

    @include devicesDesktop {
        .homeInnerContainer{
            align-items: center;
        }
        
        .homeProfileBoldText{
            font-weight: bold;
            font-size: 2.75em;
        }
    }
}

@include devicesTablet {
    .homeProfileBoldText {
        text-align: center;
        font-size: clamp(1.5em, 12vw, 20em);
    }
    .homeProfileDescription{
        text-align: center;
    }
    .homeNameWebContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homeInnerProfileContainer{
        align-items: center;
    }
    
}
